body{
  font-family: arial;
  height:100vh;
}

.container{
  display:grid;
  grid-template-columns: 1fr;
  position:relative;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);

}

.timer{
  text-align: center;
  font-size: 50px;
  color:rgb(10, 102, 194);
  margin-bottom:50px;
}

.buttons-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  place-items: center;
  transform: translate(-50%,-50%);
  position:absolute;  
  left:50%;
  column-gap:10px;
  top:50%;
}

button{
  background-color: white;
  color: rgb(10, 102, 194);
  outline: 2px solid rgb(10, 102, 194);
  outline-offset: -2px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 150px;
  cursor: pointer;
  transition: background-color 0.15s,
  outline-width 0.05s; opacity: 0.15s, padding 0.05;
  width:150px;
  height:60px;
  border: none;
}

button:hover{
  outline-width: 3px;
  background-color: rgb(226, 240, 254);
}

button:active{
  opacity:0.5
}



